
@{
    ViewBag.Title = "gamevents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">GAME EVENTS</h2><hr />
<p style="font-family:Cambria;padding-top:17%;padding-bottom:18%;text-align:center;font-size:42px;">
NO UPCOMING GAME EVENTS</p>

